{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css'%}" />
    <link rel="stylesheet" href="{% static 'css/header.css'%}" />
    <link
      rel="icon"
      href="../../static/images/base/Logo_noText.svg"
      type="image/svg"
    />
    <title>Doorbell Recognition</title>
  </head>
  <body>
    <header class="header">
      <div class="left-header">
        <a href="{% url 'home' %}">
          <img
            class="logo-img"
            src="{% static 'images/base/Logo.svg' %}"
            alt="Logo"
          />
        </a>
        <image
          class="noti-img"
          src="../static/images/base/noti-bell.svg"
          onclick="notiPopup()"
        ></image>
      </div>

      <nav class="nav-menu">
        <a href="{% url 'enroll_face' %}" class="nav-item">Enroll Faces</a>
        <a href="{% url 'history' %}" class="nav-item">History</a>
        {% if request.session.logged_in %}
        <a href="{% url 'user:profile' %}" class="nav-item">
          {{ request.session.username }}
        </a>
        <a href="{% url 'user:signout' %}" class="nav-item login-btn"
          >Sign out</a
        >
        {% else %}
        <a href="{% url 'user:profile' %}" class="nav-item">Profile</a>
        <a href="{% url 'user:signin' %}" class="nav-item login-btn">Sign in</a>
        {% endif %}
      </nav>
    </header>
    <main class="main-content">
      <div class="main-title">Video Streaming</div>
      <div
        class="video-container"
        style="display: flex; flex-direction: column; align-items: center"
      >
        <!-- <div class="video-placeholder"></div> -->
        <!-- <img src="{% url 'video_feed' %}" width="640" height="480" /> -->
        <img id="video-stream" width="640" height="480" />
        <div style="margin-top: 15px; display: flex; gap: 15px">
          <button
            id="start-btn"
            type="button"
            class="openDoor-btn"
            onclick="startStream()"
          >
            Start Streaming
          </button>
          <button
            id="stop-btn"
            type="button"
            class="openDoor-btn"
            onclick="stopStream()"
          >
            Stop Stream
          </button>
        </div>
      </div>
      <button
        id="door-btn"
        type="button"
        class="openDoor-btn"
        onclick="openDoor()"
      >
        Open Door
      </button>
    </main>
    <script src="{% static 'js/homepage.js' %}"></script>
  </body>
</html>
