{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  <link rel="icon" href="../../static/images/base/Logo_noText.svg" type="image/svg" />
  <title>Reset Password</title>
</head>
<body>
  <div class="container">
    <!-- Left Side -->
    <div class="left-section">
      <div class="logo-section">
        <img src="../../static/images/base/Logo.svg" alt="Doorbell Recognition" class="logo-icon" />
      </div>
      <div class="marketing-text">
        See who's at your door in real time.<br />
        Instant alerts, clear visuals, and<br />
        secure access — all at a glance.
      </div>
    </div>

    <div class="divider"></div>

    <!-- Right Side -->
    <div class="right-section">
      <div class="sign-in-container">
        <h1 class="main-title">Reset Password</h1>

        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="form-label" for="email">Enter your email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-input"
              placeholder="example@example.com"
              required
            />
          </div>

          <div class="button-row" style="margin-top: 20px; display: flex; gap: 20px;">
            <button
              type="submit" 
              class="sign-in-button" 
              style="width: 160px; height: 50px; text-align: center; line-height: 50px; text-decoration: none;">
              Send
          </button>

            <a href="{% url 'user:signin' %}" 
              class="sign-up-button" 
              style="width: 200px; height: 50px; text-align: center; line-height: 50px; font-size: 18px;">
              Back to Log in
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
    {% include 'components/notification.html' %}

    <script>
        const checkIconUrl = "{% static 'images/base/check.svg' %}";
        const crossIconUrl = "{% static 'images/base/cross.svg' %}";
    </script>


    <script src="{% static 'js/notification.js' %}"></script>

    {% if messages %}
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for message in messages %}
                showNotification("{{ message.tags }}", "{{ message.message|escapejs }}");
            {% endfor %}
        });
        </script>
    {% endif %}
</body>
</html>
