{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../../static/images/base/Logo_noText.svg"
      type="image/svg"
    />
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
    <link rel="stylesheet" href="{% static 'css/header.css'%}" />
    <title>Profile</title>
  </head>
  <body>
    <header class="header">
      <div class="left-header">
        <a href="{% url 'home' %}">
          <img
            class="logo-img"
            src="{% static 'images/base/Logo.svg' %}"
            alt="Logo"
          />
        </a>
        <image
          class="noti-img"
          src="../static/images/base/noti-bell.svg"
          onclick="notiPopup()"
        ></image>
      </div>

      <nav class="nav-menu">
        <a href="{% url 'history' %}" class="nav-item">History</a>
        {% if request.session.logged_in %}
          <a href="{% url 'user:profile' %}" class="nav-item">
            {{ request.session.username }}
          </a>
          <a href="{% url 'user:signout' %}" class="nav-item login-btn">Sign out</a>
        {% else %}
          <a href="{% url 'user:profile' %}" class="nav-item">Profile</a>
          <a href="{% url 'user:signin' %}" class="nav-item login-btn">Sign in</a>
        {% endif %}
      </nav>
    </header>

    <main class="main-content">
      <div class="main-header">
        <div class="user-avatar">AVT</div>
        <div class="user-name">{{ user.username }}</div>
      </div>

      <div class="profile-container">
        <div class="profile-container-left">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" value="{{ user.username }}" readonly />
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phonenumber" value="{{ user.phonenumber }}" />
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" value="{{ user.address }}" />
          </div>
        </div>

        <div class="profile-container-right">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" name="new-password" placeholder="I dont know :v" />
            <div class="change-container">
              <div class="change-btn">Change</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/homepage.js' %}"></script>
  </body>
</html>
